<div class="container mt-4">
    <form method="POST">
        <div class="d-flex gap-2 align-items-center">
            <input type="text" name="key" class="form-control" id="search-input">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
