<div class="container mt-4">
    <img src="{{course.thumbnail}}" class="card-img-top w-100" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text text-truncate">{{course.description}}</p>
        <a href="#" class="btn btn-primary mt-2">Xem chi tiết</a>
    </div>
</div>